@font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
        url('../fonts/Satoshi-Light.woff') format('woff'),
        url('../fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    font-family: 'Satoshi-Light', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

/* Header top */
.header-top {
    width: 100%;
    height: 38px;
    background-color: #000000;
    font-size: 14px;
    display: flex;

    align-items: center;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
}

.header-top p,
.header-top a {
    color: #ffffff;
    margin: 0 auto;
    line-height: 19px;
}

.header-top a {

    border-bottom: 2px solid #ffffff;
}

.header-top svg {
    margin-right: 0;
}

.header-top .btn-close {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* nav pc*/
.inner-nav {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.nav__pc {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}


.nav__pc .logo {
    margin-right: 40px;
}

.nav__pc .nav-left .navbar,
.nav__pc .nav-search {
    display: flex;
    /* margin-right: 40px; */
}

.nav-left {
    padding-right: 20px;
}

.nav__pc .nav-left .navbar .nav-item {
    padding-right: 24px;
    font-size: 16px;

}

.nav-link {
    font-size: 16px;
}

.nav-search {
    max-width: 577px;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 40px;
}

.nav-search a svg {
    margin-left: 16px;
    justify-content: center;
    display: flex;
}

.nav-search input {
    width: 100%;
    /* height: 100%; */
    border: none;
    background-color: #F0F0F0;
    font-size: 16px;
    border-radius: 30px;

}

.nav-search input:focus {
    outline: none;
}

.nav-right {
    display: flex;
}

.nav-right .shopping-cart {
    margin-right: 14px;
}

/* nav-mobile */
.nav__mobile {

    display: none;
}


.btn-show {
    cursor: pointer;

}


.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.nav-left_mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    z-index: 1000;
    background-color: #FFFFFF;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding-left: 16px;

}

.btn-close_mobile {
    position: absolute;
    top: 16px;
    right: 5%;
    cursor: pointer;
}

.nav-item_mobile {
    padding-bottom: 20px;
}

.input-mobile:checked~.overlay {
    display: block;
}

.input-mobile:checked~.nav-left_mobile {
    transform: translateX(0%);
}

/* content */
.link-list {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.link-item-arrow {
    padding-left: 4px;
    padding-right: 12px;
}

/* cart */
.cart-title h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

.inner-cart {
    display: flex;
}

.product-list {
    max-width: 715px;
    max-height: 508px;
    padding-right: 24px;
    padding-left: 24px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* .inner-list {
    margin: 20px;

} */

.order-summary {
    max-width: 505px;
    max-height: 458px;
    width: 100%;
    height: 100%;
}

.product-item {
    display: flex;

    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F0F0F0;
}

.product-info {
    margin-left: 16px;
    margin-right: 75px;
}

.product-info .name {
    font-size: 20px;
    font-weight: bold;
}

.product-info .attribute-list {
    font-size: 14px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 4px;
}

.product-info .attribute-list .attribute-name {
    color: rgba(0, 0, 0, 0.6);
}

.product-info .price {
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
}

.action {
    position: absolute;
    max-height: 124px;
    height: 100%;
    right: 0;
}

.btn-delete {
    position: absolute;
    top: 0;
    right: 0;
}

.amount {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 126px;
    height: 44px;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding: 12px 20px;
    box-sizing: border-box;
}

.amount .btn-subtract svg,
.amount .btn-add svg {
    padding: 8px;
    /* margin-right: 20px;
    margin-left: 20px; */
    display: flex;
    justify-content: space-between;
}

.amount .btn-subtract,
.amount .btn-add {
    padding: 20px 0;
}

.amount .btn-subtract {
    padding-right: 10px;
}

.amount .btn-add {
    padding-left: 10px;
}

.amount .input {
    text-align: center;
    border: none;
    font-size: 14px;

    background-color: #F0F0F0;
}

.amount input:focus {
    outline: none;
}

.order-summary {
    max-width: 505px;
    width: 100%;
    max-height: 458px;
    height: 100%;
    border: 1px solid #F0F0F0;
    border-radius: 20px;

}

.order-container {
    margin: 20px 24px 20px 24px;
}

.order-summary-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 24px;
    color: #000000;
}

.summary-list {
    border-bottom: 1px solid #F0F0F0;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 20px;
}

.summary-title {
    color: rgba(0, 0, 0, 0.6);
}

.subtotal,
.discount,
.fee {
    font-weight: bold;
}

.discount {
    color: #FF3333;
}

.total {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 24px;
}

.total-title {
    font-size: 20px;
}

.total-price {
    font-size: 24px;
    font-weight: bold;

}

.voucher {
    width: 100%;
    max-height: 48px;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.input-voucher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}

.btn-voucher {
    max-width: 326px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    box-sizing: border-box;
    border-radius: 62px;
}

.btn-voucher a svg {
    padding-right: 12px;
    padding-left: 16px;
    display: flex;
}

.btn-voucher input {
    border: none;
    height: 90%;
    width: 90%;
    font-size: 16px;
    background-color: #F0F0F0;
    border-radius: 62px;
    color: rgba(0, 0, 0, 0.4);
}

.btn-voucher input:focus {
    outline: none;
}

.btn-apply {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 119px;
    width: 100%;

    background-color: #000000;
    border-radius: 62px;
}

.btn-apply a {
    color: #ffffff;
    font-size: 16px;
    padding: 13px 39px 13px 39px;
}

.check-out {
    max-height: 60px;
    height: 100%;
}

.check-out a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    background-color: #000000;
    height: 100%;
    padding: 19px 0;
    border-radius: 62px;
    width: 100%;
}

.check-out a svg {
    padding-left: 12px;
    display: flex;
    font-weight: 500;
}

/* banner footer */


.inner-banner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding-left: 64px;
    padding-right: 64px;
    max-height: 180px;
    height: 100%;
    border-radius: 20px;
    margin-top: 76px;
    transform: translateY(50%);
}

.inner-left {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 43px;
    padding-bottom: 43px;
    max-width: 551px;
    width: 100%;
    max-height: 94px;
    height: 100%;
}

.input-email {
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 349px;
    width: 100%;
    max-height: 48px;
    height: 100%;
    background-color: #FFFFFF;
    margin-bottom: 14px;
    border-radius: 20px;
}

.input-email span {
    display: flex;
    align-items: center;


}

.input-email a {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;

}

.input-email input {
    border: none;
    width: 349px;
    border-radius: 20px;
}

.input-email input:focus {
    outline: none;
}

.btn-subcribe {
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 349px;
    width: 100%;
    max-height: 48px;
    height: 100%;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 20px;
}

.btn-subcribe a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
}

/* footer */


.footer {
    padding-top: 136px;
    background-color: #F0F0F0;

}

.inner-footer .container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-left {
    display: flex;
    flex-direction: column;
    max-width: 248px;
    width: 100%;
    padding-right: 114px;
}

.footer-left .logo-footer {
    margin-bottom: 25px;
}

.footer-left p {
    margin-bottom: 35px;
}

.footer-right .inner-right {
    display: flex;
    justify-content: space-between;

}

.twitter,
.facebook,
.instagram {
    margin-right: 12px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 92px;
}

.footer-bottom .right .list-bank {
    display: flex;
}

/* .company,
.help,
.faq {
    padding-right: 114px;
}

.resources {
    padding-right: 0px;
} */

.inner-right .inner-right {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.inner-right .title {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 26px;
    color: #000000;
}

.inner-right .item {

    padding-bottom: 20px;
}

.inner-right .item a {
    color: rgba(0, 0, 0, 0.6);
}

/* mobile */
@media screen and (max-width: 500px) {

    /* nav */
    .container {
        padding: 0 16px;
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
    }

    .nav__pc {
        display: none;
    }

    .nav__mobile {
        display: block;
        padding-top: 23px;
        padding-bottom: 23px;
    }

    .inner-nav_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inner-nav_mobile-left {
        display: flex;
        align-items: center;
    }

    .inner-nav_mobile-left .logo_mobile {
        padding-left: 16px;
    }

    .header-top .btn-close {
        display: none;
    }


    .nav-right .search {
        margin-right: 14px;
    }

    .cart-title h1 {
        font-size: 32px;
    }

    /* cart */


    .inner-cart {
        flex-direction: column;
        /* padding-left: 14px;
        padding-right: 14px; */
        gap: 20px;
        box-sizing: border-box;

    }

    .product-list {
        max-width: 358px;
        max-height: 389px;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0 auto;

    }

    .inner-list {


        padding-left: 14px;
        padding-right: 14px;
    }

    .product-item {
        padding-top: 12px;
        padding-bottom: 14px;

        max-height: 99px;
        width: 100%;
        max-width: 330px;
    }

    .product-img {
        width: 100%;
        max-width: 99px;
        height: 100%;
        padding-right: 14px;
    }

    .product-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-info {
        max-width: 129px;
        font-size: 16px;
    }

    .product-info .name {
        font-size: 16px;
        white-space: nowrap;
    }

    .product-info .price {
        font-size: 20px;
        padding-top: 0;
    }

    .btn-delete svg {
        font-size: 20px;
    }

    .action {
        height: 100%;
        max-height: 99px;
        right: 14px;
    }

    .amount {
        width: 105px;
        max-height: 31px;
        height: 100%;
        padding: 14px 8px;
        box-sizing: border-box;
    }

    .btn-subtract svg,
    .btn-add svg {
        padding: 0;
        margin: 0;
    }

    .amount .btn-subtract,
    .amount .btn-add {
        padding: 0;
    }

    .order-summary {
        max-width: 358px;
        width: 100%;
        max-height: 390px;
        height: 100%;
        margin: 0 auto;
    }

    .order-summary-title {
        font-size: 20px;
    }

    .total {
        padding: 0;
        margin: 0;
    }

    .summary-item,
    .total-title {
        font-size: 16px;
    }

    .total-price {
        font-size: 20px;
    }

    .input-voucher {
        /* padding-bottom: 16px; */
        padding-top: 16px;

    }

    .btn-voucher {
        margin-right: 12px;
    }

    .check-out {
        padding-top: 16px;
    }

    /* footer banner */
    .inner-banner-footer {
        flex-direction: column;
        margin-top: 50px;
        max-width: 358px;
        max-height: 293px;
    }

    .inner-banner-footer {
        padding-left: 24px;
        margin-top: 32px;
        margin: 0 auto;
    }

    .inner-right {
        margin: 0 auto;
    }

    .inner-left {
        font-size: 32px;
        max-width: 297px;
        max-height: 105px;
        width: 100%;
        height: 100%;
        padding-bottom: 0;

    }

    .input-email,
    .btn-subcribe {
        max-width: 311px;
        width: 100%;
        max-height: 42px;
        height: 100%;
    }

    .input-email {
        margin-top: 32px;
    }

    .btn-subcribe {
        margin-bottom: 28px;
    }

    /* footer */
    .inner-footer .container {
        display: flex;
        flex-direction: column;
    }

    .footer-left {
        max-width: 100%;
        padding-top: 32px;
    }

    .footer-right .inner-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        margin-top: 25px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-bottom .right .list-bank {
        justify-content: center;
        padding-top: 16px;
    }
}

/* tablet */
@media screen and (min-width: 500px) and (max-width: 1023px) {

    /* nav */
    .container {
        padding: 0 16px;
        box-sizing: border-box;
    }

    .nav__pc {
        display: none;
    }

    .nav__mobile {
        display: block;
        padding-top: 23px;
        padding-bottom: 23px;
    }

    .inner-nav_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inner-nav_mobile-left {
        display: flex;
        align-items: center;
    }

    .inner-nav_mobile-left .logo_mobile {
        padding-left: 16px;
    }

    .header-top .btn-close {
        display: none;
    }


    .nav-right .search {
        margin-right: 14px;
    }
}